.venv/
venv
.devcontainer/
airbnb/profiles.yml
airbnb/target*/
airbnb/.venv/
airbnb/.vscode/
airbnb/logs/
airbnb/target/
airbnb/target-prod/
logs/
_course_resources
airbnb/package-lock.yml
airbnb/dbt_packages/
airbnb/dbt_internal_packages/
.env

.python-version
.vscode

.user.yml
.DS_Store

set-env.sh
set-env.ps1